.RedirectButton {
  width: var(--buttons-width);

  padding: 5px 10px;

  background-color: var(--main-button-bg);
  color: var(--main-button-color);

  border-radius: 8px;
  border-color: var(--main-button-border);
  border-width: var(--button-border-thickness);
  border-style: solid;

  transition: box-shadow 0.2s ease;

  font-size: var(--font-size);

  &:hover {
    box-shadow: var(--main-button-shadow-hover);
  }

  &:active {
    box-shadow: var(--main-button-shadow-active);
    border-style: solid;
  }
}
