.LandingPage {
  display: flex;
  flex-direction: column;

  .HeroSection {
    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;

    background: linear-gradient(rgba(235, 235, 235, 0.15), rgba(0, 0, 0, 0));

    padding: 8vw 10%;

    > .Subtitle {
      text-overflow: ellipsis;
      text-align: center;
    }
  }

  .PresentationSection {
    display: flex;
    flex-direction: column;

    .Images {
      padding: 64px;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      column-gap: 48px;
      row-gap: 48px;

      > li {
        list-style: none;
        flex: 1 1 clamp(250px, 25%, 300px);
        max-width: 100%;

        > img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
    .Vision {
      padding: 64px;

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
      row-gap: 40px;

      > ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 20px;

        > li {
          list-style: none;

          max-width: 100%;

          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          flex: 1 1 calc(33.333% - 20px);
          column-gap: 10px;

          > .Icon {
            width: 24px;
          }
          > .Text {
            width: fit-content;
          }
        }
      }
    }
  }
}

.RegisterPage,
.LoginPage {
  width: 100%;
  form {
    border-radius: 8px;
    padding: 24px;
    border: solid 1px #d9d9d9;
    width: 320px;
    margin: 20px auto;

    display: flex;
    flex-direction: column;
    row-gap: 20px;

    label {
      position: relative;
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      input[type="password"],
      input[type="text"],
      input[type="email"] {
        padding: 5px 10px;
        border-radius: 8px;
        border: solid 1px #d9d9d9;
        transition: all ease 0.5s;

        &:focus-visible {
          border: solid 1px #817f7f;
          outline: none;
        }
      }
    }
    input[type="submit"] {
      padding: 12px;
      background-color: #2c2c2c;
      color: #f5f5f5;
      border-radius: 8px;
      cursor: pointer;
      border: 1px solid #2c2c2c;
      transition: all ease 0.5s;
      &:active {
        background-color: #131313;
      }
    }
    .ExtraLink {
      display: flex;
      flex-direction: row;
      column-gap: 5px;
      a {
        cursor: pointer;
        text-decoration: underline;
        &:visited {
          color: inherit;
        }
      }
    }
  }
}

.NotFoundPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25vh 0;
  font-size: 35px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .LandingPage {
    .PresentationSection {
      .Vision > ul > li {
        flex: 1 1 calc(50% - 20px);
      }
    }
  }
}

@media (max-width: 480px) {
  .LandingPage {
    .PresentationSection {
      .Vision > ul > li {
        flex: 1 1 100%;
      }
    }
  }
}
