.HeroSection {
  --section-width: 90%;
  /* width: var(--section-width); */

  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;

  background: linear-gradient(rgba(235, 235, 235, 0.15), rgba(0, 0, 0, 0));

  padding: 8vw calc(100dvw - var(--section-width));

  > .Subtitle {
    text-overflow: ellipsis;
    text-align: center;
  }
}
