.IconButton {
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1;

  border-radius: 25%;
  background: transparent;
  border: none;

  cursor: pointer;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(128, 128, 128, 0.2);
  }
}
